body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1928px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:1928px;
  height:1088px;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1928px;
  height:1088px;
}
#u1112_ref {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:1070px;
  width:1px;
  height:1px;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1662px;
  height:954px;
  background:inherit;
  background-color:rgba(88, 86, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:109px;
  width:1662px;
  height:954px;
  display:flex;
  opacity:0.67;
}
#u1113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:353px;
  width:977px;
  height:424px;
  display:flex;
}
#u1114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:370px;
  width:193px;
  height:30px;
  display:flex;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:370px;
  width:23px;
  height:24px;
  display:flex;
}
#u1116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:2px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:411px;
  width:977px;
  height:1px;
  display:flex;
}
#u1117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:695px;
  width:109px;
  height:44px;
  display:flex;
  font-size:20px;
}
#u1118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(24, 74, 142, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:695px;
  width:109px;
  height:44px;
  display:flex;
  font-size:20px;
}
#u1119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:513px;
  width:187px;
  height:46px;
  display:flex;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1121 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:513px;
  width:17px;
  height:46px;
  display:flex;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#D9001B;
}
#u1122 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1123_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:513px;
  width:550px;
  height:45px;
  display:flex;
  font-size:16px;
}
#u1123 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1123_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1123.disabled {
}
.u1123_input_option {
  font-size:16px;
}
#u1124 label {
  left:0px;
  width:100%;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:449px;
  width:90px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u1124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1124_img.selected {
}
#u1124.selected {
}
#u1124_img.disabled {
}
#u1124.disabled {
}
#u1124_img.selected.error {
}
#u1124.selected.error {
}
#u1124_img.selected.hint {
}
#u1124.selected.hint {
}
#u1124_img.selected.error.hint {
}
#u1124.selected.error.hint {
}
#u1124_img.mouseOver.selected {
}
#u1124.mouseOver.selected {
}
#u1124_img.mouseOver.selected.error {
}
#u1124.mouseOver.selected.error {
}
#u1124_img.mouseOver.selected.hint {
}
#u1124.mouseOver.selected.hint {
}
#u1124_img.mouseOver.selected.error.hint {
}
#u1124.mouseOver.selected.error.hint {
}
#u1124_img.mouseDown.selected {
}
#u1124.mouseDown.selected {
}
#u1124_img.mouseDown.selected.error {
}
#u1124.mouseDown.selected.error {
}
#u1124_img.mouseDown.selected.hint {
}
#u1124.mouseDown.selected.hint {
}
#u1124_img.mouseDown.selected.error.hint {
}
#u1124.mouseDown.selected.error.hint {
}
#u1124_img.mouseOver.mouseDown.selected {
}
#u1124.mouseOver.mouseDown.selected {
}
#u1124_img.mouseOver.mouseDown.selected.error {
}
#u1124.mouseOver.mouseDown.selected.error {
}
#u1124_img.mouseOver.mouseDown.selected.hint {
}
#u1124.mouseOver.mouseDown.selected.hint {
}
#u1124_img.mouseOver.mouseDown.selected.error.hint {
}
#u1124.mouseOver.mouseDown.selected.error.hint {
}
#u1124_img.focused.selected {
}
#u1124.focused.selected {
}
#u1124_img.focused.selected.error {
}
#u1124.focused.selected.error {
}
#u1124_img.focused.selected.hint {
}
#u1124.focused.selected.hint {
}
#u1124_img.focused.selected.error.hint {
}
#u1124.focused.selected.error.hint {
}
#u1124_img.selected.disabled {
}
#u1124.selected.disabled {
}
#u1124_img.selected.hint.disabled {
}
#u1124.selected.hint.disabled {
}
#u1124_img.selected.error.disabled {
}
#u1124.selected.error.disabled {
}
#u1124_img.selected.error.hint.disabled {
}
#u1124.selected.error.hint.disabled {
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:73px;
  white-space:nowrap;
  text-transform:none;
}
#u1124_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1125 label {
  left:0px;
  width:100%;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:449px;
  width:90px;
  height:25px;
  display:flex;
  font-size:18px;
}
#u1125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1125_img.selected {
}
#u1125.selected {
}
#u1125_img.disabled {
}
#u1125.disabled {
}
#u1125_img.selected.error {
}
#u1125.selected.error {
}
#u1125_img.selected.hint {
}
#u1125.selected.hint {
}
#u1125_img.selected.error.hint {
}
#u1125.selected.error.hint {
}
#u1125_img.mouseOver.selected {
}
#u1125.mouseOver.selected {
}
#u1125_img.mouseOver.selected.error {
}
#u1125.mouseOver.selected.error {
}
#u1125_img.mouseOver.selected.hint {
}
#u1125.mouseOver.selected.hint {
}
#u1125_img.mouseOver.selected.error.hint {
}
#u1125.mouseOver.selected.error.hint {
}
#u1125_img.mouseDown.selected {
}
#u1125.mouseDown.selected {
}
#u1125_img.mouseDown.selected.error {
}
#u1125.mouseDown.selected.error {
}
#u1125_img.mouseDown.selected.hint {
}
#u1125.mouseDown.selected.hint {
}
#u1125_img.mouseDown.selected.error.hint {
}
#u1125.mouseDown.selected.error.hint {
}
#u1125_img.mouseOver.mouseDown.selected {
}
#u1125.mouseOver.mouseDown.selected {
}
#u1125_img.mouseOver.mouseDown.selected.error {
}
#u1125.mouseOver.mouseDown.selected.error {
}
#u1125_img.mouseOver.mouseDown.selected.hint {
}
#u1125.mouseOver.mouseDown.selected.hint {
}
#u1125_img.mouseOver.mouseDown.selected.error.hint {
}
#u1125.mouseOver.mouseDown.selected.error.hint {
}
#u1125_img.focused.selected {
}
#u1125.focused.selected {
}
#u1125_img.focused.selected.error {
}
#u1125.focused.selected.error {
}
#u1125_img.focused.selected.hint {
}
#u1125.focused.selected.hint {
}
#u1125_img.focused.selected.error.hint {
}
#u1125.focused.selected.error.hint {
}
#u1125_img.selected.disabled {
}
#u1125.selected.disabled {
}
#u1125_img.selected.hint.disabled {
}
#u1125.selected.hint.disabled {
}
#u1125_img.selected.error.disabled {
}
#u1125.selected.error.disabled {
}
#u1125_img.selected.error.hint.disabled {
}
#u1125.selected.error.hint.disabled {
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:73px;
  white-space:nowrap;
  text-transform:none;
}
#u1125_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1126_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:586px;
  width:300px;
  height:47px;
  display:flex;
}
#u1126 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1126_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126.disabled {
}
.u1126_input_option {
}
#u1127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:595px;
  width:86px;
  height:38px;
  display:flex;
}
#u1127 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1114px;
  width:905px;
  height:87px;
  display:flex;
  font-size:20px;
}
#u1128 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
