<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.ifp.spc.mapper.SpcSamplingStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.px.ifp.spc.entity.SpcSamplingStrategy">
        <id column="id" property="id" />
         <if test="measure_code" property="measureCode" />
         <if test="period_s" property="periodS" />
         <if test="period_label" property="periodLabel" />
         <if test="strategy_type" property="strategyType" />
         <if test="window_type" property="windowType" />
         <if test="window_size_s" property="windowSizeS" />
         <if test="slide_step_s" property="slideStepS" />
         <if test="session_gap_s" property="sessionGapS" />
         <if test="deadband_abs" property="deadbandAbs" />
         <if test="deadband_percent" property="deadbandPercent" />
         <if test="max_interval_s" property="maxIntervalS" />
         <if test="threshold_upper" property="thresholdUpper" />
         <if test="threshold_lower" property="thresholdLower" />
         <if test="normal_period_s" property="normalPeriodS" />
         <if test="alert_period_s" property="alertPeriodS" />
         <if test="alert_duration_s" property="alertDurationS" />
         <if test="features" property="features" />
         <if test="computation_mode" property="computationMode" />
         <if test="value_mode" property="valueMode" />
         <if test="subgroup_window_s" property="subgroupWindowS" />
         <if test="min_valid_n" property="minValidN" />
         <if test="valid_ratio_min" property="validRatioMin" />
         <if test="drift_ratio_max" property="driftRatioMax" />
         <if test="baseline_window_days" property="baselineWindowDays" />
         <if test="baseline_refresh_s" property="baselineRefreshS" />
         <if test="enabled" property="enabled" />
         <if test="priority" property="priority" />
         <if test="created_at" property="createdAt" />
         <if test="updated_at" property="updatedAt" />
         <if test="fac_code" property="facCode" />
         <if test="physical_limit_enabled" property="physicalLimitEnabled" />
         <if test="physical_min_value" property="physicalMinValue" />
         <if test="physical_max_value" property="physicalMaxValue" />
         <if test="out_of_range_action" property="outOfRangeAction" />
         <if test="outlier_detection_method" property="outlierDetectionMethod" />
         <if test="outlier_3sigma_threshold" property="outlier3sigmaThreshold" />
         <if test="outlier_3sigma_iterations" property="outlier3sigmaIterations" />
         <if test="outlier_median_threshold" property="outlierMedianThreshold" />
         <if test="outlier_median_window" property="outlierMedianWindow" />
         <if test="outlier_iqr_k" property="outlierIqrK" />
         <if test="outlier_hampel_k" property="outlierHampelK" />
         <if test="outlier_hampel_window" property="outlierHampelWindow" />
         <if test="outlier_action" property="outlierAction" />
         <if test="quality_filter_enabled" property="qualityFilterEnabled" />
         <if test="quality_allowed_codes" property="qualityAllowedCodes" />
         <if test="bad_value_action" property="badValueAction" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, measure_code, period_s, period_label, strategy_type, window_type, window_size_s, slide_step_s, session_gap_s, deadband_abs, deadband_percent, max_interval_s, threshold_upper, threshold_lower, normal_period_s, alert_period_s, alert_duration_s, features, computation_mode, value_mode, subgroup_window_s, min_valid_n, valid_ratio_min, drift_ratio_max, baseline_window_days, baseline_refresh_s, enabled, priority, created_at, updated_at, fac_code, physical_limit_enabled, physical_min_value, physical_max_value, out_of_range_action, outlier_detection_method, outlier_3sigma_threshold, outlier_3sigma_iterations, outlier_median_threshold, outlier_median_window, outlier_iqr_k, outlier_hampel_k, outlier_hampel_window, outlier_action, quality_filter_enabled, quality_allowed_codes, bad_value_action
    </sql>

    <insert id="insert" parameterType="com.px.ifp.spc.entity.SpcSamplingStrategy" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO spc_sampling_strategy (
            measure_code,period_s,period_label,strategy_type,window_type,window_size_s,session_gap_s,
            deadband_abs,deadband_percent,max_interval_s,threshold_upper,threshold_lower,normal_period_s,alert_period_s,alert_duration_s
            features,computation_mode,enabled,priority,physical_limit_enabled,physical_min_value,physical_max_value,
            out_of_range_action,outlier_detection_method,outlier_3sigma_threshold,outlier_3sigma_iterations,outlier_median_threshold,
            outlier_median_window,outlier_iqr_k,outlier_hampel_k,outlier_hampel_window,outlier_action,
            quality_filter_enabled,quality_allowed_codes,bad_value_action,fac_code
        ) VALUES (
            #{measureCode},#{periodS},#{periodLabel},#{strategyType},#{windowType},#{windowSizeS},#{sessionGapS},
            #{deadbandAabs},#{deadbandPercent},#{maxIntervalS},#{thresholdUpper},#{thresholdLower},#{normalPeriodS},#{alertPeriodS,#{alertDurationS}
            #{features},#{computationMode},#{enabled},#{priority},#{physicalLimitEnabled},#{physicalMinValue},#{physicalMaxValue},
            #{outOfRangeAction},#{outlierDetectionMethod},#{outlier3sigmaThreshold},#{outlier3sigmaIterations},#{outlierMedianThreshold},
            #{outlierMedianWindow},#{outlierIqrK},#{outlierHampelK},#{outlierHampelWindow},#{outlierAction},
            #{qualityFilterEnabled},#{qualityAllowedCodes},#{badValueAction},#{facCode}
    )
    </insert>


    <update id="updateById" parameterType="com.px.ifp.spc.entity.SpcSamplingStrategy">
        UPDATE spc_sampling_strategy
        <set>
             <if test="measureCode != null">measure_code = #{measureCode},</if>
             <if test="period_s != null">period_s = #{periodS},</if>
             <if test="period_label != null"> period_label = #{periodLabel},</if>
             <if test="strategy_type != null"> strategy_type = #{strategyType},</if>
             <if test="window_type != null"> window_type = #{windowType},</if>
             <if test="window_size_s != null"> window_size_s = #{windowSizeS},</if>
             <if test="slide_step_s != null"> slide_step_s = #{slideStepS},</if>
             <if test="session_gap_s != null"> session_gap_s = #{sessionGapS},</if>
             <if test="deadband_abs != null"> deadband_abs = #{deadbandAbs},</if>
             <if test="deadband_percent != null"> deadband_percent = #{deadbandPercent},</if>
             <if test="max_interval_s != null"> max_interval_s = #{maxIntervalS},</if>
             <if test="threshold_upper != null"> threshold_upper = #{thresholdUpper},</if>
             <if test="threshold_lower != null"> threshold_lower = #{thresholdLower},</if>
             <if test="normal_period_s != null"> normal_period_s = #{normalPeriodS},</if>
             <if test="alert_period_s != null"> alert_period_s = #{alertPeriodS},</if>
             <if test="alert_duration_s != null"> alert_duration_s = #{alertDurationS},</if>
             <if test="features != null"> features = #{features},</if>
             <if test="computation_mode != null"> computation_mode = #{computationMode},</if>
             <if test="value_mode != null"> value_mode = #{valueMode},</if>
             <if test="subgroup_window_s != null"> subgroup_window_s = #{subgroupWindowS},</if>
             <if test="subgroup_window_s != null"> subgroup_window_s = #{minValidN},</if>
             <if test="valid_ratio_min != null"> valid_ratio_min = #{validRatioMin},</if>
             <if test="drift_ratio_max != null"> drift_ratio_max = #{driftRatioMax},</if>
             <if test="baseline_window_days != null"> baseline_window_days = #{baselineWindowDays},</if>
             <if test="baseline_refresh_s != null"> baseline_refresh_s = #{baselineRefreshS},</if>
             <if test="enabled != null"> enabled = #{enabled},</if>
             <if test="priority != null"> priority = #{priority},</if>
             <if test="fac_code != null"> fac_code = #{facCode},</if>
             <if test="physical_limit_enabled != null"> physical_limit_enabled = #{physicalLimitEnabled},</if>
             <if test="physical_min_value != null"> physical_min_value = #{physicalMinValue},</if>
             <if test="physical_max_value != null"> physical_max_value = #{physicalMaxValue},</if>
             <if test="out_of_range_action != null"> out_of_range_action = #{outOfRangeAction},</if>
             <if test="outlier_detection_method != null"> outlier_detection_method = #{outlierDetectionMethod},</if>
             <if test="outlier_3sigma_threshold != null"> outlier_3sigma_threshold = #{outlier3sigmaThreshold},</if>
             <if test="outlier_3sigma_iterations != null"> outlier_3sigma_iterations = #{outlier3sigmaIterations},</if>
             <if test="outlier_median_threshold != null"> outlier_median_threshold = #{outlierMedianThreshold},</if>
             <if test="outlier_median_window != null"> outlier_median_window = #{outlierMedianWindow},</if>
             <if test="outlier_iqr_k != null"> outlier_iqr_k = #{outlierIqrK},</if>
             <if test="outlier_hampel_k != null"> outlier_hampel_k = #{outlierHampelK},</if>
             <if test="outlier_hampel_window != null"> outlier_hampel_window = #{outlierHampelWindow},</if>
             <if test="outlier_action != null"> outlier_action = #{outlierAction},</if>
             <if test="quality_filter_enabled != null"> quality_filter_enabled = #{qualityFilterEnabled},</if>
             <if test="quality_allowed_codes != null"> quality_allowed_codes = #{qualityAllowedCodes},</if>
             <if test="bad_value_action != null"> bad_value_action = #{badValueAction},</if>
             updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectByMeasureCodeAndPeriodS" resultType="com.px.ifp.spc.entity.SpcSamplingStrategy">
        SELECT *
        FROM spc_sampling_strategy
        WHERE measure_code = #{measureCode} AND period_s = #{periodS} limit 1
    </select>

</mapper>
